[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = IMDB
[access "refs/*"]
	owner = group user/ShiqiaoZhu (lemon-shark)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ShiqiaoZhu (lemon-shark)
	label-Verified = -1..+1 group user/ShiqiaoZhu (lemon-shark)
	push = group user/ShiqiaoZhu (lemon-shark)
	read = group user/ShiqiaoZhu (lemon-shark)
	rebase = group user/ShiqiaoZhu (lemon-shark)
	removeReviewer = group user/ShiqiaoZhu (lemon-shark)
	submit = group user/ShiqiaoZhu (lemon-shark)
[access "refs/heads/*"]
	create = group user/ShiqiaoZhu (lemon-shark)
	push = +force group user/ShiqiaoZhu (lemon-shark)
	pushMerge = group user/ShiqiaoZhu (lemon-shark)
	read = group user/ShiqiaoZhu (lemon-shark)
[access "refs/tags/*"]
	push = group user/ShiqiaoZhu (lemon-shark)
	push = +force group user/ShiqiaoZhu (lemon-shark)
